<header>
  <div class="logo-wrap">
    <img class="logo" src="assets/img/jokerLogo.svg" alt="logo" />
    <span class="nav-name">Džoker company d.o.o.</span>
  </div>
  <nav>
    <a
      href="#"
      data-activates="mobile-menu"
      class="button-collapse disappear"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right flex hide-on-med-and-down">
      <li><a href="#" class="active">Početna</a></li>
      <li><a href="#">O nama</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
    <ul class="side-nav disappear" id="mobile-menu">
      <li><a href="#">Početna</a></li>
      <li><a href="#">O nama</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</header>