<!-- home-social -->
    <ul class="home-social">
        <li>
            <a href="mailto:{{ data.email }}" alt="eMail" aria-label="eMail"><i class="fa fa-envelope" aria-hidden="true"
                    alt="eMail"></i><span>eMail</span></a>
        </li>
        <li>
            <a href="{{ data.kp }}" target="_blank" rel="external" alt="KupujemProdajem" aria-label="KupujemProdajem"><i class="fa fa-tag"
                    aria-hidden="true" alt="KupujemProdajem"></i><span>KupujemProdajem</span></a>
        </li>
    </ul>
<!-- end home-social -->