#home {
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/bg-image-1600px.jpg") no-repeat center center fixed;
    background-size: cover;
    header {
        background-color: rgba(20, 27, 34, 0.2);
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(4px);
    }
    /* ------------------------------------------------------------------- 
    * ## home social 
    * ------------------------------------------------------------------- */
    .home-social {
        list-style: none;
        margin: 0;
        position: absolute;
        top: 35%;
        right: 2.4rem;
        z-index: 900;
        -webkit-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);

        a {
            color:$white;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
        
        li {
            position: relative;
            padding: .9rem 0;
        }
        
        li a {
            display: block;
            width: 33px;
            height: 33px;
        }
        
        i, 
        span {
            position: absolute;
            top: 0;
            line-height: 33px;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
        
        i {
            font-size: 14px;
            right: 0;
            text-align: center;
            display: inline-block;
            width: 33px;
            height: 33px;
            line-height: calc(33px - 4px);
            border: 2px solid $white;
            border-radius: 50%;
        }
        
        span {
            color: $color-primary;
            right: 2.5rem;
            font-size: 1em;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
        }
        
        li:hover span {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    .grid-container {
        width: 80%;
        display: grid;
        margin: auto;
        margin-top: 135px;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .title-wrap {
            grid-column: 1 / span 4;
            grid-row: 1;
            margin-bottom: 75px;
            h1 {
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 500;
                font-size: 3em;
            }
            .phone-box {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                a {
                    color: $white;
                    text-decoration: none;
                    i {
                        height: 2em;
                        width: 2em;
                        font-size: 2em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-style: solid;
                        align-content: center;
                        border-radius: 60px;
                        transition: all 200ms ease-in;
                    }
                }
                a:hover i {
                    border-color: $green;
                    background-color: $green;
                    transform: scale(1.25);
                }
                .phones {
                    font-family: 'Roboto Slab';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2em;
                    line-height: 60px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-left: 1em;
                }
            }
            @media (max-width: $sm) {
                h1 {
                    font-size: 2em;
                }
                .phone-box {
                    i {
                        font-size: 1.5em;
                    }
                    .phones {
                        font-size: 1.5em;
                        line-height: 40px;
                    }
                }
            }
        }
        .card {
            height: 400px;
            width: 100%;
            background-color: $bg-l;
            border-right: black 1px solid;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            .card-ico {
                height: 20%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                i {
                    font-size: 2.5em;
                }
            }
            .card-title {
                height: 25%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-weight: 500;
                    font-size: 2em;
                    text-align: center;
                }
                h3 {
                    font-weight: 300;
                    font-size: 1.5em;
                    text-align: center;
                }
            }
            span {
                font-family: 'Roboto Serif';
                font-style: normal;
                font-weight: 200;
                font-size: 16px;
                line-height: 23px;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0 4em;
            }
            .card-btn {
                width: 70px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-primary;
                text-decoration: none;
                transform: translateY(50%);
                i {
                    font-size: 2em;
                    color: #fff;
                }
            }
        }
    }
}
@media (max-width: $md) {
    #home {
        overflow: visible;
    }
}