#kontakt {
    .body {
        align-items: center;
        align-content: space-around;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        .map {
            height: 100%;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        .adresa {
            grid-column: 3 / 4;
        }
        .radno {
            grid-column: 4 / 5;
        }
        .telefon {
            grid-column: 3 / 4;
        }
        .email {
            grid-column: 4 / 5;
        }
    }
}