#usluge {
    background-color: $bg-l;
    .carousel {
        width: 100%;
        height: $carousel-height;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        
        &:hover .controls {
          opacity: 1;
        }
        
        .controls {
          opacity: 0;
          display: flex;
          position: absolute;
          top: 50%;
          left: 0;
          justify-content: space-between;
          width: 100%;
          z-index: 99999;
          transition: all ease 0.5s;
          
          .control {
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: .5;
            transition: ease .3s;
            cursor: pointer;
            
            &:hover {
              opacity: 1;
            }
          }
        }
        
          .slides {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            width: 100%;
            transition: 2500ms ease-in-out all;
            
            .slide {
              min-width: 100%;
              min-height: $carousel-height;
              height: auto;
            }
          }
      }
      
    section {
        padding: 5em 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-column: 1 / -1;
        h1 {
            color: $color-primary;
            font-size: 4em;
            text-align: center;

        }
        p {
            padding-top: 2em;
            width: 50%;
            font-family: $font-main;
            font-style: normal;
            font-weight: 200;
            font-size: 1.25em;
            line-height: 23px;
        }
        .container {
            max-width: 1500px;
            margin: auto;
            padding: 3rem;
            display: grid;
            grid-gap: 2em;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            .predmet {
                grid-column: auto / span 2;
                padding: 2em;
                border-radius: .3em;
                box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
                display: flex;
                p {
                  width: 100%;
                }
                i {
                    width: 50px;
                    font-size: 2em;
                }
                div {
                    padding: 2em;
                    padding-top: 0;
                    h2 {
                        padding-bottom: 1em;
                    }
                }
            }
        }
        .container2 {
            max-width: 1500px;
            margin: auto;
            padding: 3rem;
            display: grid;
            grid-gap: 2em;
            grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
            img {
                max-width: 100%;
                margin: auto;
                border-radius: .3em;
                box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
            }
            p {
                width: 100%;
                margin: auto;
                margin-top: 0;
                font-family: $font-main;
                font-style: normal;
                font-weight: 200;
                font-size: 1.25em;
                line-height: 25px;
            }
        }
    }
}