<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalagaonica Džoker | O Nama</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- FAVICON
    ================================================== -->
    <link rel="icon" href="../favicon.svg" type="image/svg+xml">
    <!-- Fonts
    ===================================================-->
    <!-- Open Graph -->
    <!-- JSON-LD TODO-->
  </head>
  <body id="onama">
    <!-- header
    ================================================== -->
    {{> _header }}
    <!-- main
    ================================================== -->
    <section>
      <img src="../assets/img/test/4.jpg" alt="">
      <div class="content">
        <div class="title">
          <img src="../assets/img/jokerLogoWhite.svg" alt="">
          <div class="h"><h2>Zalagaonica</h2>
          <h1>Džoker</h1></div>
        </div>
          <p>Džoker company doo je zalagaonica koja se bavi novčanim pozajmicama. Mi smo jedna od prvih  zalagaonica u Srbiji. Osnovani smo 1990 godine i svih ovih godina smo orijentisani da izgradimo poverenje i pouzdanost klijantima. Rezultat truda se ogleda na istrajnosti svih ovih godina. Beležimo na hiljade klijenata koji su nam ukazali poverenje.</p> 
          <p>Pružamo sigurne i pristupačne uslove građanima kojima je potrebna naša finansijska pomoć. U prostorijama Džoker company doo je prijatna, efikasna i radna atmosfera koja klijentima osigurava ljubaznu i stručnu uslugu.</p>
          <p>Od velike nam je važosti stručnost i edukacija naših zaposlenih u obavljanju svog posla. Naš tim uključuje niz stručnjaka iz raznih oblasti, bilo da se radi o dijamantima, safirima, rubinima, umetničkim slikama, satovima ili drugim predmetima od vrednosti.</p>
        </div>
    </section>
    <!-- preloader
    ================================================== -->
    {{> _preloader }}
    <script src="../assets/js/main.js"></script>
    <!-- Fontawesome CDN -->
    {{!-- <script src="https://kit.fontawesome.com/3f7f7bdb28.js" crossorigin="anonymous"></script> --}}
  </body>
</html>
