<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalagaonica Džoker | O Nama</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- FAVICON
    ================================================== -->
    <link rel="icon" href="../favicon.svg" type="image/svg+xml">
    <!-- Fonts
    ===================================================-->
    <!-- Open Graph -->
    <!-- JSON-LD TODO-->
  </head>
  <body id="onama">
    <!-- header
    ================================================== -->
    {{> _header }}
    <!-- main
    ================================================== -->
    <section>
      <img src="../assets/img/test/4.jpg" alt="">
      <div class="content">
        <div class="title">
          <img src="../assets/img/jokerLogoWhite.svg" alt="">
          <div class="h"><h2>Zalagaonica</h2>
          <h1>Džoker</h1></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit veniam vitae deleniti consectetur ad culpa. Assumenda ipsa, modi temporibus laudantium quaerat cum possimus aliquid voluptatem, rerum neque, odio pariatur exercitationem?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit veniam vitae deleniti consectetur ad culpa. Assumenda ipsa, modi temporibus laudantium quaerat cum possimus aliquid voluptatem, rerum neque, odio pariatur exercitationem?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit veniam vitae deleniti consectetur ad culpa. Assumenda ipsa, modi temporibus laudantium quaerat cum possimus aliquid voluptatem, rerum neque, odio pariatur exercitationem?</p>
      </div>
    </section>
    <!-- preloader
    ================================================== -->
    {{> _preloader }}
    <script src="../assets/js/main.js"></script>
    <!-- Fontawesome CDN -->
    {{!-- <script src="https://kit.fontawesome.com/3f7f7bdb28.js" crossorigin="anonymous"></script> --}}
  </body>
</html>
