<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalagaonica Džoker | Usluge - Zalog, Novčane pozajmice i plasman novca, Prodaja</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- FAVICON
    ================================================== -->
    <link rel="icon" href="../favicon.svg" type="image/svg+xml">
    <!-- Fonts
    ===================================================-->
    <!-- Open Graph -->
    <!-- JSON-LD TODO-->
  </head>
  <body id="usluge">
    <!-- header
    ================================================== -->
    {{> _header }}
    <!-- main
    ================================================== -->
    <div class="carousel">
      <div class="slides">
        <img src="https://picsum.photos/1280/720?random=1" alt="slide image" class="slide">
        <img src="https://picsum.photos/1280/720?random=2" alt="slide image" class="slide">
        <img src="https://picsum.photos/1280/720?random=3" alt="slide image" class="slide">
      </div>
      <div class="controls">
        <div class="control prev-slide">&#9668;</div>
        <div class="control next-slide">&#9658;</div>
      </div>
    </div>
    <section id="zalog">
      <h1>Predmeti Zaloga</h1>
      <p>Ukoliko Vam je potrebna novčana pozajmica mi smo uvek tu za Vas kako bismo Vam pružili finansijsku podršku. Kod nas možete dobiti novčanu pozajmicu na osnovu zaloga. Naši zaposleni se trude da za svakog klijenta odvoje vreme kako bi što bolje objasnili uslove ugovora o zalogu koji zaključuju sa nama.</p>
      <p>Ono što je jako bitno da <b>svaki klijent dobija ugovor o zalogu</b> gde u svakom trenutku mogu da povrate svoj predmet zaloga. <br>
      Vaši zalozi se čuvaju u obezbeđenim sefovima zvaničnih banaka.</p>
      <div class="container">
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Zlato</h2>
            <p>Na osnovu bilo kakvog nakita ili predmeta od zlata možete dobiti  novčanu pozajmicu gde dobijate ugovor o zalogu. </p>
          </div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Drago kamenje</h2>
            <p>Ono na čemu dajemo akcenat jeste na stručnosti i edukaciji koju Vam pružamo. Kako za svaku oblast tako i za  oblast dragog kamenja. Godinama nadograđujemo znanje iskustvo i veštine iz oblasti  dragog kamenja (rubina, safara ,dijamanta,smaragda…) <br> Mi smo stručnjaci za analizu  svih karakteristika  koje poseduje drago kamenje gde je naše znanje sertifikovano  na  HRDAntwerp Institut of Gemmology</p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Numizmatika</h2>
            <p></p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Brendirani satovi</h2>
            <p>ROLEX AUDEMARS PIGUET BREITLING PATEK PHILIPPE FRANCK MULLER OMEGA CARTIER CHOPARD… <br> I JOŠ MONIGI DRUGI BRENDOVI.</p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Slike i Ikone</h2>
            <p></p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Automobili</h2>
            <p></p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Tehnika</h2>
            <p></p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Antikviteti</h2>
            <p></p></div>
        </div>
        <div class="predmet">
          <i class="fa-solid fa-feather"></i>
          <div class="predmet-content">
            <h2>Bunde</h2>
            <p></p></div>
        </div>
      </div>
    </section>
    <section id="pozajmice">
      <h1>Novčane pozajmice</h1>
      <h2>(nekretnine)</h2>
      <div class="container2">
        <div>
          <p>Džoker company doo je posrednik prilikom sklapanja ugovora o pozajmici na osnovu zaloga nekretnine. <br><br>Izdvajamo to da se prilikom pozajmice na nepokretnu imovinu, kao i na pokretnu ne radi kupoprodajni ugovor već ugovor o zajmu novčanih sredstava. Samom činjenicom, načinom našeg poslovanja sa sigurnošću možete biti bez brige da <b>jedini vlasnik</b> nekretnine i dalje ostajete samo Vi! <br><br> U prostorijama Džoker company doo naši zaposleni će Vam objasniti što detaljnije sve o pozajmici na osnovu nekretnine kako biste što bolje razumeli način i uslove ugovora koji sklapate. Vama smo na usluzi za davanje saveta, usmeravanje ili pružanje operativne pomoći prilikom većeg iznosa novčane pozajmice. <br><br><b>Isplata je istog dana, odmah i u gotovini.</b></p>
        </div>
        <img src="../assets/img/test/7.jpg" alt="">
      </div>
    </section>
    <section id="plasman">
      <h1>Plasman novca</h1>
      <div class="container2">
        <img src="../assets/img/test/3.jpg" alt="">
        <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit culpa ex dolores numquam, ullam quas cum quibusdam a. Laborum eligendi odio reprehenderit nostrum ullam quas modi tenetur ipsa distinctio dolor! Eum eius autem officiis quod inventore, sunt nostrum omnis dolorum.</p><br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, neque repellat excepturi doloribus voluptatum voluptatem voluptate quaerat hic quae quas magni beatae alias incidunt eius laboriosam veniam, magnam minus ab.</p>
        </div>
      </div>
    </section>
    <section id="prodaja">
      <h1>Prodaja</h1>
      <div class="container2">
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem aliquid facere tenetur, soluta consequatur saepe deleniti illo, commodi asperiores facilis totam? Delectus, nostrum sed. Explicabo, pariatur ullam omnis in iste eligendi, saepe modi deserunt rem dolores distinctio qui illum sit soluta magnam possimus assumenda tempora aspernatur id voluptatum repellendus, vitae porro. Accusantium, maxime magni quia nulla itaque reiciendis, voluptate amet dolorem reprehenderit obcaecati a, laudantium quae facere velit porro perferendis. Quam saepe rem, sit amet velit ut obcaecati quas, deserunt eligendi quasi voluptas, quod aliquid voluptate accusantium aut at? Perspiciatis libero culpa voluptate placeat odit ipsum, maxime cumque expedita.</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ea labore blanditiis accusantium officiis aliquid a corrupti ex deleniti obcaecati repellat voluptatum vel mollitia voluptates pariatur nihil nulla cupiditate cumque.</p></div>
        <img src="../assets/img/test/6.jpg" alt="">
      </div>
    </section>
    <!-- preloader
    ================================================== -->
    {{> _preloader }}
    <script src="../assets/js/main.js"></script>
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/3f7f7bdb28.js" crossorigin="anonymous"></script>
  </body>
</html>
