<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalagaonica Džoker | Usluge - Zalog, Novčane pozajmice i plasman novca, Prodaja</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- FAVICON
    ================================================== -->
    <link rel="icon" href="../favicon.svg" type="image/svg+xml">
    <!-- Fonts
    ===================================================-->
    <!-- Open Graph -->
    <!-- JSON-LD TODO-->
  </head>
  <body id="usluge">
    <!-- header
    ================================================== -->
    {{> _header }}
    <!-- main
    ================================================== -->
    <section id="zalog">
      <h1>Predmeti Zaloga</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti blanditiis sint consequuntur neque, a sunt fugit recusandae in sed assumenda rem eveniet, tenetur dolorem labore fuga optio itaque est deleniti.</p>
    </section>
    <div class="container">
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p>
        </div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
      <div class="predmet">
        <i class="fa-solid fa-feather"></i>
        <div class="predmet-content">
          <h2>naziv</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, eligendi fugiat dolores nisi quia libero.</p></div>
      </div>
    </div>
    <section id="pozajmice">
      <h1>Novčane pozajmice</h1>
      <h2>(nekretnine)</h2>
    </section>
    <div class="container2">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem aliquid facere tenetur, soluta consequatur saepe deleniti illo, commodi asperiores facilis totam? Delectus, nostrum sed. Explicabo, pariatur ullam omnis in iste eligendi, saepe modi deserunt rem dolores distinctio qui illum sit soluta magnam possimus assumenda tempora aspernatur id voluptatum repellendus, vitae porro. Accusantium, maxime magni quia nulla itaque reiciendis, voluptate amet dolorem reprehenderit obcaecati a, laudantium quae facere velit porro perferendis. Quam saepe rem, sit amet velit ut obcaecati quas, deserunt eligendi quasi voluptas, quod aliquid voluptate accusantium aut at? Perspiciatis libero culpa voluptate placeat odit ipsum, maxime cumque expedita.</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cumque quia! Perferendis laboriosam, dolorem, delectus dolore facilis dignissimos sunt totam quaerat cupiditate similique labore dolor mollitia eveniet deleniti corrupti consequuntur?</p>
      </div>
      <img src="../assets/img/test/7.jpg" alt="">
    </div>
    <section id="plasman">
      <h1>Plasman novca</h1>
    </section>
    <div class="container2">
      <img src="../assets/img/test/3.jpg" alt="">
      <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit culpa ex dolores numquam, ullam quas cum quibusdam a. Laborum eligendi odio reprehenderit nostrum ullam quas modi tenetur ipsa distinctio dolor! Eum eius autem officiis quod inventore, sunt nostrum omnis dolorum.</p><br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, neque repellat excepturi doloribus voluptatum voluptatem voluptate quaerat hic quae quas magni beatae alias incidunt eius laboriosam veniam, magnam minus ab.</p>
      </div>
    </div>
    <section id="prodaja">
      <h1>Prodaja</h1>
    </section>
    <div class="container2">
      <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem aliquid facere tenetur, soluta consequatur saepe deleniti illo, commodi asperiores facilis totam? Delectus, nostrum sed. Explicabo, pariatur ullam omnis in iste eligendi, saepe modi deserunt rem dolores distinctio qui illum sit soluta magnam possimus assumenda tempora aspernatur id voluptatum repellendus, vitae porro. Accusantium, maxime magni quia nulla itaque reiciendis, voluptate amet dolorem reprehenderit obcaecati a, laudantium quae facere velit porro perferendis. Quam saepe rem, sit amet velit ut obcaecati quas, deserunt eligendi quasi voluptas, quod aliquid voluptate accusantium aut at? Perspiciatis libero culpa voluptate placeat odit ipsum, maxime cumque expedita.</p><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ea labore blanditiis accusantium officiis aliquid a corrupti ex deleniti obcaecati repellat voluptatum vel mollitia voluptates pariatur nihil nulla cupiditate cumque.</p></div>
      <img src="../assets/img/test/6.jpg" alt="">
    </div>
    <!-- preloader
    ================================================== -->
    {{> _preloader }}
    <script src="../assets/js/main.js"></script>
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/3f7f7bdb28.js" crossorigin="anonymous"></script>
  </body>
</html>
